.container
  .jumbotron
    h1 ProjectBoard
    p This is an amazing place to organize projects
  .row
    .col-md-6
      .panel.panel-primary
        .panel-heading.text-center New Projects
        .panel-body Project Body
      div(ng-include="'/partials/featured-projects'")
    .col-md-6
      .panel.panel-primary
        .panel-heading.text-center New Projects
        .panel-body Project Body
      div(ng-include="'/partials/new-projects'")
