extends ../includes/layout
block main-content
  base(href="/")
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") ProjectBoard
          h6 Manage Projects like a Boss {{ myVar }}
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/projects") Projects
        div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)

  footer.pbFooter.text-center
    p &copy; 2015 7 Design Studios
