doctype
html
  head
    //link
    title ProjectBoard
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/css/site.css")
    script(type="text/javascript", src="/vendor/angular/angular.js")
    base(href="/")
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
