.panel.panel-grey.control-panel
  .panel-heading.text-center.panel-grey Control Panel
  .panel-body
    .row
      a(href="/projects").col-md-12 Projects
    .row
      a(href="/clients").col-md-12 Clients
    .row
      a(href="/calendar").col-md-12 Calendar
    .row
      a(href="/reports").col-md-12 Reports
    .row
      a(href="/tasks").col-md-12 Tasks
    .row
      a(href="/team").col-md-12 Team
