.container
  .jumbotron
    h1 ProjectBoard
    p This is an amazing place to organize projects
  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-projects'")
    .col-md-6
      div(ng-include="'/partials/main/new-projects'")
